__pycache__
*.egg-info/
dataset*/
!dataset*/
dataset*/**
!dataset*/**/
!dataset*/**/*.csv
!dataset*/collision/*.json
!dataset*/summary.json
eval_results/
verification_results/
*.mp4
f1tenth_gym/docs/html/
f1tenth_gym/docs/xml/

build/
install/
runs/
