__pycache__
*.egg-info/
checkpoint/
dataset*/
!dataset*/
dataset*/**
!dataset*/**/
!dataset*/**/*.csv
eval_results/
verification_results/
*.mp4
f1tenth_gym/docs/html/
f1tenth_gym/docs/xml/

build/
install/
runs/
